In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
cityData = pd.read_csv("weather_data/cities.csv")
cityData.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ati,TD,2021-09-10 03:53:40,13.2154,18.3353,76.42,77,100,9.04
1,1,Rio Gallegos,AR,2021-09-10 03:53:40,-51.6226,-69.2181,33.85,80,0,3.44
2,2,Mao,ES,2021-09-10 03:53:40,39.8885,4.2658,73.96,94,0,4.61
3,3,Tanout,NE,2021-09-10 03:50:06,14.9709,8.8879,84.29,51,100,8.63
4,4,Vilhena,BR,2021-09-10 03:53:41,-12.7406,-60.1458,68.09,95,89,3.13

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = cityData[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = cityData["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = cityData[["Lat", "Lng"]]
humidity = cityData["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = cityData[["Lat", "Lng"]]
clouds = cityData["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = cityData[["Lat", "Lng"]]
wind = cityData["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = cityData.loc[(cityData["Max Temp"] <= max_temp) & \
                                       (cityData["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ati,TD,2021-09-10 03:53:40,13.2154,18.3353,76.42,77,100,9.04
2,2,Mao,ES,2021-09-10 03:53:40,39.8885,4.2658,73.96,94,0,4.61
10,10,Joshimath,IN,2021-09-10 03:53:42,30.5667,79.5667,74.59,70,66,4.43
18,18,Rio De Jesus,PA,2021-09-10 03:53:45,7.9844,-81.1631,75.47,94,98,2.68
21,21,Cabedelo,BR,2021-09-10 03:50:08,-6.9811,-34.8339,72.27,81,2,9.78
32,32,Fomboni,KM,2021-09-10 03:53:47,-12.2800,43.7425,77.65,73,59,16.93
36,36,Diamantino,BR,2021-09-10 03:53:49,-14.4086,-56.4461,74.71,64,64,4.79
37,37,Praia,CV,2021-09-10 03:50:11,14.9215,-23.5087,79.34,78,20,4.61
44,44,Vila Velha,BR,2021-09-10 03:50:11,-20.3297,-40.2925,75.15,83,75,13.80
45,45,Duku,NG,2021-09-10 03:53:51,11.2361,4.9073,73.65,93,99,2.86

In [10]:
preferred_cities_df.count()

City_ID       253
City          253
Country       253
Date          253
Lat           253
Lng           253
Max Temp      253
Humidity      253
Cloudiness    253
Wind Speed    253
dtype: int64

In [11]:
preferredCities = preferred_cities_df.dropna()
preferredCities.count()

City_ID       253
City          253
Country       253
Date          253
Lat           253
Lng           253
Max Temp      253
Humidity      253
Cloudiness    253
Wind Speed    253
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat      Lng Hotel Name
0            Ati      TD     76.42  13.2154  18.3353
2            Mao      ES     73.96  39.8885   4.2658
10     Joshimath      IN     74.59  30.5667  79.5667
18  Rio De Jesus      PA     75.47   7.9844 -81.1631
21      Cabedelo      BR     72.27  -6.9811 -34.8339
32       Fomboni      KM     77.65 -12.2800  43.7425
36    Diamantino      BR     74.71 -14.4086 -56.4461
37         Praia      CV     79.34  14.9215 -23.5087
44    Vila Velha      BR     75.15 -20.3297 -40.2925
45          Duku      NG     73.65  11.2361   4.9073

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ati,TD,76.42,13.2154,18.3353,
2,Mao,ES,73.96,39.8885,4.2658,ARTIEM Capri
10,Joshimath,IN,74.59,30.5667,79.5667,Shivalik Camps & Resort
18,Rio De Jesus,PA,75.47,7.9844,-81.1631,Parador fotografico Rio de Jesus
21,Cabedelo,BR,72.27,-6.9811,-34.8339,Hotel Pigalle
32,Fomboni,KM,77.65,-12.2800,43.7425,Auberge les abou
36,Diamantino,BR,74.71,-14.4086,-56.4461,Hotel Delta
37,Praia,CV,79.34,14.9215,-23.5087,LT Aparthotel
44,Vila Velha,BR,75.15,-20.3297,-40.2925,Quality Suites Vila Velha
45,Duku,NG,73.65,11.2361,4.9073,

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))